<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  You just created the
  <b>About</b> page
  <h2>Grid System:</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md>
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="12" size-md>
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col size="8">
        <div>
          2 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 3
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <h2>Text in Grid:</h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-center>
          <h3>Text Center</h3>
          <p>lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, in exercitationem! Eum.</p>
        </div>
      </ion-col>
      <ion-col>
        <div text-center>
          <h3>Text Center</h3>
          <p>lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, in exercitationem! Eum.</p>
        </div>
      </ion-col>
      <ion-col>
        <div text-center text-uppercase>
          <h3>Center Uppercase</h3>
          <p>lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </ion-col>
    </ion-row>
    <h2>Grid Float</h2>
    <ion-row>
      <ion-col>
        <div float-left>
          <h3>Float left</h3>
        </div>
      </ion-col>
      <ion-col>
        <div float-right>
          <h3>Float Right</h3>
        </div>

      </ion-col>
    </ion-row>
    <hr>
    <h2>Margin</h2>
    <ion-row>
      <ion-col margin-top>
        <div>
          margin-top
        </div>
      </ion-col>
      <ion-col margin-bottom>
        <div>
          margin-bottom
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr>


</ion-content>